@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

[data-bs-theme="light"] {
  --border-bg: #dee2e6;
  --selected-item-bg: #e8edef;
  --theme-toggle-color: #e8e864;
  --theme-toggle-hover-color: black;
}

[data-bs-theme="dark"] {
  --border-bg: #3b3c3e;
  --selected-item-bg: var(--bs-secondary);
  --theme-toggle-color: black;
  --theme-toggle-hover-color: #e8e864;
}

/* For some reason --bs-modal-color is not set */
.modal,
.modal-content {
  color: var(--bs-body-color);
  transition: color 100ms ease-in-out;
}

html,
body,
#root {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  font-family: 'DejaVu Sans', 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: color 100ms ease-in-out;
}

.theme-toggle {
  color: var(--theme-toggle-color);
  transition: color 100ms ease-in-out;
}

.theme-toggle:hover {
  cursor: pointer;
  color: var(--theme-toggle-hover-color);
}

.grid-wrapper {
  height: 100%;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.controlIcon {
  width: 1.25em;
  height: 1.5em;
  margin-right: 0.5em;

}

.controlIcon:hover {
  cursor: pointer;
  transition: color 100ms ease-in-out;
  color: green;
}

.grid-container,
.grid-container.minimized {
  display: grid;
  grid-template-areas:
    'left controls right'
    'left middle right'
  ;
  grid-template-columns: 19.5% 60% 19.5%;
  grid-template-rows: 8.5% 91%;
  gap: calc(min(1vw, 1vh));
  padding: calc(max(0.5vw, 0.5vh));
  height: 98%;
  transition: 300ms;
}

.grid-container.maximized {
  grid-template-areas:
    'left controls right'
    'left middle right';
  grid-template-columns: 0% 99% 0%;
  grid-template-rows: 8.5% 91%;
  transition: 300ms;
}

.color-state-override {
  float: right;
  border: none;
  color: red;
  --bs-table-color-state: none;
  --bs-table-bg-state: none;
}


.grid-container>div {
  border: 1px solid var(--border-bg);
}

.grid-container.hidden-menu>div {
  border: none;
}

.controls {
  grid-area: controls;
  /* background-color: #e9e9e9; */
}

.left {
  grid-area: left;
  border-top: none;
  overflow: auto;
}

.middle {
  grid-area: middle;
}

.selectedEntity {
  font-weight: bold;
  background-color: lightblue;
}

.right {
  grid-area: right;
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: repeat(auto-fill, auto); */
  gap: 1%;
  overflow: auto;
}

/* Canvas
NOTE: see
https://medium.com/@doomgoober/understanding-html-canvas-scaling-and-sizing-c04925d9a830
*/
.color-canvas {
  width: 96%;
  height: 96%;
  margin: 2%;
}

.canvas-container {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.dropdown-item-hover:hover {
  background-color: #f8f9fa;
}

#component-dropdown::after {
  display: none;
}

.selectedScene {
  font-weight: bold;
  background-color: lightblue;
}

.ListHeader {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-bg);
  border-radius: 3px;
  padding: min(1vw, 1vh);
  margin: min(1vw, 1vh);
}

.InspectorHeader {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--border-bg);
  padding: min(1vw, 1vh);
  margin: min(1vw, 1vh);
}

.ListHeader:hover {
  background-color: lightblue;
  border-color: lightblue;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.confirm-dialog-body {
  padding: 0;
}

.confirm-dialog-alert {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-dialog-content {
  margin-bottom: 1rem;
}

.confirm-dialog-actions {
  display: flex;
  gap: 1rem;
}

.icon-decline {
  color: red;
  cursor: pointer;
}

.icon-accept {
  color: green;
  cursor: pointer;
}

.confirm-dialog-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-icon {
  color: #dc3545;
  /* Bootstrap's danger color */
}


/*blog */
.blog-container {
  margin: 1%;
  width: 98%;
  height: 90%;
}

.menu {
  transition: width 0.5s;
  overflow: hidden;
}

.menu.open {
  width: 100%;
}

.menu.closed {
  width: 30%;
}

.menu.closed:hover {
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
}

.responsive-post {
  max-width: 70vw;
}

.md-heading {
  font-weight: normal;
  text-decoration: none;
  color: inherit;
}

.md-heading.active {
  font-weight: bold;
  text-decoration: underline;
}

.md-heading:hover {
  font-weight: bold;
  text-decoration: underline;
}

.md-heading::before {
  content: "#";
  display: none;
}

.md-heading:hover::before {
  display: inline;
}

.md-blog-container {
  position: fixed;
  /* always cover entire viewport, solves weird issues with body style not conforming to container style */
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

.post-container {
  display: grid;
  grid-template-columns: 1fr;
}

.post-toc {
  position: sticky;
  align-self: flex-start;
  top: 2rem;
  display: none;
}

/* toc only renders in big screens */
@media screen and (min-width: 768px) {
  .post-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .post-toc {
    display: block;
  }
}